<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlm.people.dao.ChaDao">
    <resultMap type="com.tlm.people.entity.Cha" id="StuMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="channelName" column="channel_name" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectByChaId" resultMap="StuMap">
        select
            id,channel_name,create_by,create_time
        from channel
        where id = #{id}
        limit 1
    </select>

    <select id="findAll" resultType="com.tlm.people.entity.Cha">
        select
            id,channel_name,create_by,create_time
        from
            channel
    </select>
    <update id="updateByCha">
        update channel
        <set>
            <if test="channelName != null and channelName != ''">
                channel_name = #{channelName},
            </if>
        </set>
        where
        id = #{id}
    </update>

    <insert id="insertByCha" parameterType="com.tlm.people.entity.Cha">
        insert into channel (channel_name,create_by,create_time)
        values (#{channelName},0,#{createTime})
    </insert>

    <delete id="deleteByChaId">
        delete from channel where id = #{id}
    </delete>
</mapper>