<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlm.people.dao.UserDao">

<!--注册用户-->
    <insert id="userReg" parameterType="com.tlm.people.entity.User">
        insert into
            user
        (username,password,create_by,create_time,update_by,update_time,del_flag)
        values
            (#{username},#{password},#{createBy},#{createTime},#{updateBy},#{updateTime},#{delFlag})
    </insert>

    <!--更新用户登录时间-->
    <update id="updateLoginTime" parameterType="com.tlm.people.entity.User">
        update user
        <set>
            <if test="true">
                update_by = #{updateBy},update_time = #{updateTime},
            </if>
        </set>
        where
        id = #{id}
    </update>

    <!-- 更新学生新状态    -->
    <update id="updateStudents">
        update student
        <set>
            status=1
        </set>
        where
            stu_id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>


    <!-- 用户名查找用户 -->
    <select id="findByUsername" resultType="com.tlm.people.entity.User" >
         select *
            from user
            where
                username=#{username}
            limit 1
    </select>

    <!--找学生-->
    <select id="getStudents" resultType="com.tlm.people.entity.Stu">
        select
            *
        from
            student
        where
            status != 1
    </select>


</mapper>